/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-image: url("../images/absurdity.png");
  text-align: center;
}

button {
  background-color: white;
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section-small {
  padding: 6rem 0 2rem;
  text-align: center;
}
.section-small-heading,
.section-small-description {
  margin-bottom: 1.2rem;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  color: #000;
  padding-bottom: 1rem;
}

.intro-header {
  margin-bottom: 1rem;
}

.intro-small {
  color: #000;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  display: none;
}

/* Services
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.services {
  color: #0072BC;
  background-color: powderblue;
  padding-bottom: 5rem;
}

.services-heading {
  margin-bottom: .3rem;
}
.services-description {
  opacity: .8;
  font-weight: 300;
}
.services-security {
  list-style-type: none;
  text-align: left;
  padding-left: 25%;
}

/* Security
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.security {
  color: #0072BC;
}
.security-description {
  margin-bottom: 4rem;
}

/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  color: #0072BC;
  background-color: powderblue;

}

.contact-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-item-special {
    position: relative;
    float: right;
    margin-bottom: 0; }
  .navbar-item-lang {
    position: relative;
    float: right;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .navbar-link-special {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #0072BC; }
  .navbar-link-special.active {
    color: #33C3F0; }
  .navbar-link-lang {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .2rem;
    margin-right: 25px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #666; }
  .navbar-link-lang.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
}
